---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';

const metadata = {
  title: 'Seasons Occupational Therapy',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero image={{ src: '~/assets/images/seasons-ot-logo.png', alt: 'Seasons Occupational Therapy Logo' }}>
    <Fragment slot="title">
      <span class="text-[#8B3324] uppercase tracking-wider font-bold">Seasons</span><br /><span
        class="uppercase text-[#543710] tracking-wider text-xl md:text-2xl font-bold">Occupational Therapy</span
      >
    </Fragment>
  </Hero>
</Layout>
