---
// import { Icon } from 'astro-icon/components';
// import { SITE } from 'astrowind:config';
// import { getHomePermalink } from '~/utils/permalinks';
import Hero from '~/components/widgets/Hero.astro';

interface Link {
  text?: string;
  href?: string;
  ariaLabel?: string;
  icon?: string;
}

interface Links {
  title?: string;
  links: Array<Link>;
}

export interface Props {
  links: Array<Links>;
  secondaryLinks: Array<Link>;
  socialLinks: Array<Link>;
  footNote?: string;
  theme?: string;
}

const { theme = 'light' } = Astro.props;
---

<footer
  class:list={[
    { dark: theme === 'dark' },
    'relative border-t border-gray-200 dark:border-slate-800 not-prose py-6 md:py-8 lg:py-12',
  ]}
>
  <div class='relative max-w-7xl mx-auto px-4 sm:px-6 dark:text-slate-300'>
    <Hero
      actions={[
        {
          variant: 'icon',
          href: 'mailto:hello@seasonsot.com',
          target: '_blank',
          icon: 'material-symbols:mail-outline',
        },
        {
          variant: 'icon',
          target: '_blank',
          href: 'https://maps.app.goo.gl/hcnJ6N6UPKMuVLws9',
          icon: 'material-symbols:map-outline',
        },
        {
          variant: 'icon',
          target: '_blank',
          href: 'tel:6043041315',
          icon: 'material-symbols:phone-enabled',
        },
      ]}
    >
      <Fragment slot='content'>
        <div class='text-center max-w-3xl m-auto mt-6'>
          <p>
            Acknowledgement and gratitude are expressed for the traditional, ancestral, and unceded territory of Coast
            Salish peoples - Squamish, Tsleil-Waututh and Musqueam Nations. We are thankful to be sharing this land for
            which we live, learn, and play.
          </p>
        </div>
      </Fragment>
    </Hero>
  </div>
</footer>
