---
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Layout from '~/layouts/PageLayout.astro';
import Content from '~/components/widgets/Content.astro';
import Headline from '~/components/ui/Headline.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    image={{
      src: '~/assets/images/about-us-header.png',
      alt: 'People holding hands',
    }}
  >
    <Fragment slot='title'>
      <span class='heading-page'>About Us</span><br />
    </Fragment>
  </Hero>

  <!-- Hero Widget ******************* -->

  <!-- <HeroText textOnly>
    <Fragment slot='title'>
      <span class='text-[#8B3324] uppercase tracking-[0.4rem] font-special text-3xl md:text4xl'
        >What is Occupational Therapy?
      </span>
    </Fragment>
    <Fragment slot='content'>
      <div class='text-left max-w-3xl m-auto'>
        <p>
          Occupational Therapy (OT) is the art and science that helps individuals find meaning and purpose in their
          everyday activities.
        </p>
        <p>Occupation' is defined as the activities that an individual, needs, wants and/or is expected to do.</p>
        <p>
          A holistic, evidence-based approach is used to problem-solve areas the individual is having difficulty with -
          i.e. self-care, productivity, and leisure. OT seeks to find the 'Just Right Challenge' - a combination of
          personal and environmental factors, as well as the activity demands so the individual can achieve full
          participation and engagement in their chosen occupations.
        </p>
      </div>
    </Fragment>
  </HeroText> -->

  <!-- Content Widget **************** -->

  <Content
    isReversed
    image={{
      src: '~/assets/images/occupation-therapy-skills.jpg',
      alt: 'Skills that can be achieved via occupational therapy',
    }}
  >
    <Fragment slot='title'>
      <span class='heading-section'>What is Occupational Therapy? </span>
    </Fragment>
    <Fragment slot='content'>
      <p class='text-left'>
        Occupational Therapy (OT) is the art and science that helps individuals find meaning and purpose in their
        everyday activities.
      </p><p>Occupation' is defined as the activities that an individual, needs, wants and/or is expected to do.</p><p>
        A holistic, evidence-based approach is used to problem-solve areas the individual is having difficulty with -
        i.e. self-care, productivity, and leisure.
      </p><p>
        OT seeks to find the 'Just Right Challenge' - a combination of personal and environmental factors, as well as
        the activity demands so the individual can achieve full participation and engagement in their chosen
        occupations.
      </p>
    </Fragment>
  </Content>

  <Fragment slot='bg'>
    <div class='absolute inset-0 bg-blue-50 dark:bg-transparent'></div>
  </Fragment>

  <!-- Does my child need Occupational Therapy? ****************** -->

  <Features3
    columns={3}
    defaultIcon='tabler:point-filled'
    items={[
      {
        title: 'self-help skills',
      },
      {
        title: 'fine motor + gross motor skills',
      },
      {
        title: 'printing + writing',
      },
      {
        title: 'attention + self-regulation',
      },
      {
        title: 'sensory processing',
      },
      {
        title: 'socioemotional skills',
      },
      {
        title: 'play skills',
      },
      {
        title: 'organization + planning',
      },
      {
        title: 'executive functioning',
      },
    ]}
  >
    <Fragment slot='title'> <span class='heading-section'>Does my child need Occupational Therapy? </span></Fragment>

    <Fragment slot='subtitle'>
      <div>
        <span
          >If your child is struggling in any of the following areas, or is having difficulty keeping up with their
          same-aged peers, your child may benefit from OT services.
        </span>
      </div>
      <div><span>What OTs can help with: </span></div>
    </Fragment>
  </Features3>

  <Headline>
    <Fragment slot='subtitle'>
      <div>
        <span>To note, your child does not need a diagnosis or a doctor referral to receive OT services. </span>
      </div>
    </Fragment>
  </Headline>

  <Hero
    image={{
      src: '~/assets/images/children-playing-with-blocks.jpg',
      alt: 'Children playing with blocks',
    }}
  />

  <HeroText textOnly>
    <Fragment slot='title'>
      <span class='heading-section'>Our Practice Philosophy </span>
    </Fragment>
    <Fragment slot='content'>
      <div class='text-left max-w-3xl m-auto'>
        <p>
          Our mission is to help children and youth thrive and become <b
            >more coordinated, calm, connected, and confident</b
          >.
        </p>
        <p>
          We do this in two ways:<br />
          <b>1. Direct OT assessment and treatment</b><br />
          <b>2. Parent coaching and consultation</b>
        </p>
        <p>
          We pride ourselves on using a family-centered, relationship and play-based approach to address your child's
          individual OT goals. Learning through play has been proven to be most effective for children as it facilitates
          engagement, curiosity, and experiential learning.
        </p>
        <p>
          Parent implementation of OT strategies is key to a child's progress and success. We also encourage our clients
          to nurture a growth mindset (parents too) and collaborate with the family to create and achieve meaningful
          goals.
        </p>
      </div>
    </Fragment>
  </HeroText>

  <Hero
    image={{
      src: '~/assets/images/children-running.jpg',
      alt: 'Children running up a hill',
    }}
  />
</Layout>
