---
import Content from '~/components/widgets/Content.astro';
import Hero from '~/components/widgets/Hero.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Layout from '~/layouts/PageLayout.astro';
import Image from '~/components/common/Image.astro';

const metadata = {
  title: 'Services',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    image={{
      src: '~/assets/images/about-us-header.png',
      alt: 'People holding hands',
    }}
  >
    <Fragment slot='title'>
      <span class='heading-page'>Services</span>
    </Fragment>
  </Hero>

  <!-- Occupational Therapy Assessment Widget **************** -->

  <Content
    isReversed
    image={{
      src: '~/assets/images/child-climbing-ladder.jpg',
      alt: 'Child climbing ladder',
    }}
  >
    <Fragment slot='title'>
      <span class='heading-section'>Occupational Therapy Assessment </span>
    </Fragment>
    <Fragment slot='content'>
      <p class='text-left'>
        A holistic and comprehensive assessment includes parent interviews and questionnaires, standardized assessments
        and clinical observations of the child, and a written recommendations report.
      </p><p>
        The entire assessment will take <i>up to 2 hours</i>, consisting of assessment tasks and clinical observations
        (90 minutes), then followed by a parent discussion about the assessment findings, goalsetting, and potential
        treatment plan (30 minutes).
      </p><p>
        Key areas addressed: self-care skills, written output, fine motor skills, gross motor skills, primitive reflex
        integration, visual perception, functional vision screening, sensory processing and modulation, play and
        socioemotional skills, executive functioning.
      </p>
    </Fragment>
  </Content>

  <!-- Occupational Therapy Treatment Widget **************** -->

  <Content
    image={{
      src: '~/assets/images/child-coloring.jpg',
      alt: 'Child climbing ladder',
    }}
  >
    <Fragment slot='title'>
      <span class='heading-section'>Occupational Therapy Treatment </span>
    </Fragment>
    <Fragment slot='content'>
      <p class='text-left'>
        Direct 1:1 OT sessions, with an OT or a supervised OTA (Occupational Therapy Assistant) in the child's home,
        community or preschool/daycare setting.
      </p><p>
        Session frequency will depend on the child's need, progress, and carryover of recommendations into the child's
        everyday life. Our treatments will often look like play, but embedded with therapeutic benefits of the
        'just-right challenge' to motivate and support the child's development toward their goals.
      </p>
    </Fragment>
  </Content>

  <!-- Occupational Therapy Treatment Widget **************** -->

  <HeroText textOnly>
    <Fragment slot='title'>
      <span class='heading-section'>Parent Coaching and Consultation </span>
    </Fragment>
    <Fragment slot='content'>
      <p class='text-left'>
        Do you have burning questions or pain points about your child, or want to improve your relationship with your
        child? Is your child struggling with a new skill and becoming avoidant or frustrated when you try to teach them?
      </p><p>
        Gain an even better understanding of your child to help them thrive with Parent Coaching and Consultation -
        where your questions can be addressed with insightful conversations, relevant education on your child's
        development, practical therapeutic strategies and customized action plans.
      </p>
      <p>Examples of topics during Parent Coaching and Consultation:</p>
      <ul class='list-disc list-inside m-auto text-left w-fit'>
        <li>Anxiety/Stress management</li>
        <li>Sleep hygiene</li>
        <li>Toilet training</li>
        <li>Picky eating</li>
        <li>Family routines and transitions</li>
        <li>Self-regulation and Co-regulation</li>
        <li>Parent-child relationship</li>
      </ul>
    </Fragment>
  </HeroText>

  <!-- service delivery

 Widget ******************* -->

  <Hero>
    <Fragment slot='content'>
      <Image
        class='mx-auto rounded-md w-full inline'
        style='object-fit: contain;'
        widths={[400, 768, 1024, 2040]}
        sizes='(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px'
        loading='eager'
        width={1024}
        height={576}
        src={'~/assets/images/children-playing-jenga.jpg'}
        alt={'Children Playing Jenga'}
      />
    </Fragment>
  </Hero>

  <HeroText textOnly>
    <Fragment slot='title'>
      <span class='heading-section'>Service Delivery </span>
    </Fragment>
    <Fragment slot='content'>
      <div class='text-left max-w-3xl m-auto'>
        <p>
          <strong>In-person services</strong> are offered via community visits (at the child/youth's home, school/daycare,
          and local playground/parks) to families living in the Greater Vancouver region.
        </p>
        <p>
          <strong>Teletherapy (online)</strong> is offered through a secure video or voice calling platform (based on client
          preference).
        </p><p>
          Online OT can be just as effective and engaging as in-person sessions and helps to reduce travel costs as
          well. Parent support for 1:1 online OT is recommended as a helping hand in session.
        </p>
      </div>
    </Fragment>
  </HeroText>
</Layout>
